<font color="red" size="10"><b>ch02 자료형과 연산자<b/></font>

# 1절.변수
## 1.1 변수 선언
    - 별도의 변수 선언 과정 없음
## 1.2 변수 할당
    - 대입연산자(=) 사용

In [8]:
import numpy as np #라이브러리 불러옴 np(닉네임_)
print('제공되는 pi값은',np.pi)
r=5
area=np.pi*r*r
print("계산된 넓이는",area)#출력할 것 ,로 연결
print('type of area',type(area))#자료형:type()
print('address of area',id(area))#주소: id()

제공되는 pi값은 3.141592653589793
계산된 넓이는 78.53981633974483
type of area <class 'float'>
address of area 2258410178256

In [7]:
area=10
print('value of area',area)
print('type of area',type(area))
print('address of area',id(area))#메모리 정리 자동으로 해줌

value of area 10
type of area <class 'int'>
address of area 140712752432200

In [9]:
area='python'
print('value of area',area)
print('type of area',type(area))#자료형 자동 전환
print('address of area',id(area))

value of area python
type of area <class 'str'>
address of area 2258361962096

## 1.3 변수이름 규칙
    - 문자(특수문자는 _제외하고 안됨), 숫자, _로 명명
    - 문자로 시작
    - 파이썬에서 제공되는 기본 함수명은 피하자. 꼭 써야한다면 int_식으로 _를 붙임
    - 파이썬 예약어는 변수명 불가(ex. if) #예약어:특정 기능을 수행하도록 미리 예약되어 있는 단어

In [13]:
# 파이썬 변수는 함수 할당이 가능
print = 5 #print 변수 할당 시 print()함수 사용 불가
del print #print 변수 삭제 후 print()사용 가능
print(area)

In [15]:
i=3+3j #복소수
type(i)

complex

In [21]:
a,b=10,20 #다중선언
print(a,b)
a,b

10 20

(10, 20)

In [22]:
a,b=b,a+b # 다중선언시 병렬로 작동
a,b

(20, 30)

## 1.4 도움말

In [23]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [24]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [26]:
# 도움말 기능 함수 내에서 shift+tab
print('a','b',sep='')#출력사이에 공백에 채울 것 sep으로 지정

ab

In [27]:
# 함수 선언
def make_number(x,y=0): # y값이 주어지지 않을 경우 0으로 초기화
    #도움말 여러줄 시 """사용, 1줄시 " 사용
    """doc string(함수의 도움말)
    매개변수 2개를 이용해서 2자리 정수를 만들어요
    x: 10의 자리수
    y: 1의 자리수(default값=0)
    """
    return x*10+y

In [30]:
print(make_number(3,1),make_number(2))

31 20

In [31]:
make=make_number # 함수를 변수에 할당

In [32]:
make(2)

20

## 1.5 변수 삭제

In [ ]:
#변수 삭제
del make

In [35]:
make(6)

NameError: name 'make' is not defined

# 2절 화면 I/O

In [45]:
first=input('첫번째 숫자는?')#문자로 return
second=input('두번째 숫자는?')

첫번째 숫자는? 40
두번째 숫자는? 2

In [47]:
print(int(first)+int(second))
print('두수의 합은 {}'.format(first+second))#문자+문자

42
두수의 합은 402

In [52]:
print('Hello','world',sep='~',end='')#end:두개의 print 함수 사이의 형태 지정(기본값:\n)
print('Hello','Python')

Hello~worldHello Python

# 3절 기본 자료형
    - 숫자: int, float, complex
    - 문자: str
    - 논리: bool(True/False)
    파이썬은 타입을 지칭하는 키워드가 없고, 변수 할당시 타입이 정해짐

## 3.1 숫자형

In [57]:
import sys
print(sys.maxsize) #모든 크기의 정수를 다 처리 가능

9223372036854775807

In [61]:
a=sys.maxsize+10
print("값:{} / 주소:{}".format(a,id(a)))
print(type(a))

값:9223372036854775817 / 주소:2258489918256
<class 'int'>

In [62]:
a=3/2 #정수형/정수형 =>실수형
print("값:{} / 주소:{}". format(a,id(a)))
print(type(a))

값:1.5 / 주소:2258489754352
<class 'float'>

In [63]:
a=int(3/2) # 명시적 변환
a=3//2 # C언어 결과처럼 하고자 하면 몫 연산자
print("값:{} / 주소:{}".format(a,id(a)))
print(type(a))

값:1 / 주소:140712752431912
<class 'int'>

In [66]:
f=1.12e20 #1.12의 10의 20승
print(f)
f=1.12e-20 #1.12의 10의 -20승
print(f)

1.12e+20
1.12e-20

## 3.2 문자형

In [67]:
name="홍길동'님'" #"님" 강조
name='홍길동"님"'
address="서울시 \"금천구\" \
가산디지털1로"
# 줄 끝의 /:다음줄로 계속
print(name, address)

홍길동"님" 서울시 "금천구" 가산디지털1로

In [69]:
text="안녕하세요\n홍길동입니다\n반갑습니다"
print(text)

안녕하세요
홍길동입니다
반갑습니다

In [71]:
text="""안녕하세요
홍길동입니다
반갑습니다
"""
print(text)

안녕하세요
홍길동입니다
반갑습니다

In [72]:
# 문자열 슬라이싱(자르기)
str_="0123456789"
str_

'0123456789'

In [78]:
str_[0:3] # 0번째부터 3번째 앞까지

'012'

In [82]:
str_[-1] # 음수 index는 뒤에서부터

'9'

In [92]:
str_[-5:-1]

'5678'

In [94]:
str_[-5:] # 시작하는/끝나는 index 없을 시 처음/끝 부터

'56789'

In [96]:
str_[5:19] # index를 벗어나면 끝까지 라는 뜻

'56789'

In [101]:
# str_[from:tp:step]
print(str_[0:9:2]) # 0부터 9번째 앞까지 2씩 인덱스 증가해서
print(str_[::2]) # 처음부터 끝까지 2씩 증가해서

02468

In [108]:
#끝부터 처음까지(거꾸로)
print(str_[9::-1])
print(str_[::-1])

9876543210
9876543210

## 3.3 논리형(True,False)

In [109]:
a=True
print(a)
print(type(a))
print(isinstance(a,bool)) # isinstance(a,b): a가 b형 객체인지 판단

True
<class 'bool'>
True

In [110]:
#False로 간주하는 것: 0 None "" ''(빈스트링) [](빈list) () {}
#True로 간주하는 것: " "(space) \0(NULL)

In [116]:
if 0:
    print('True다')
else: 
    print('False다')

False다

## 3.4 자료형 확인 및 변환
    - type(): 자료형 확인
    - int(): 정수형 변환
    - float(): 실수형 변환
    - str(): 문자형 변환
    - bool(): 논리형 변환

In [117]:
int('10')

10

In [ ]:
int('2,000')

In [120]:
float(True)#bool True:1, False:0

1.0

# 4절 포맷팅

In [122]:
name='홍길동'
add='서울시 금천구'
print("이름은 {1:10}, 주소는 {0}".format(add,name)) # {index:출력형태}

이름은 홍길동       , 주소는 서울시 금천구

In [123]:
print("이름은 %s, 주소는 %s"%(name,add))

이름은 홍길동, 주소는 서울시 금천구

In [125]:
print(f"이름은 {name}, 주소는 {add}")

이름은 홍길동, 주소는 서울시 금천구

format()함수
- "{[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}".format(변수명,....)
    - 정렬방법: <(왼쪽정렬),>(오른쪽정렬), ^(가운데정렬)
    - 타입: d(10진수), x(16진수), b(2진수), f(실수), s(문자)

In [130]:
a=10
s='Hello'
print("[{0:$>10d}],[{1:*<20}]".format(a,s))

[$$$$$$$$10],[Hello***************]

# 5절 연산자
## 5.1 산술연산자: + - / * //(몫) %(나머지) **(제곱)
## 5.2 할당연산자: = += -= /= %= ...
## 5.3 논리연산자: & and | or not (연산자 우선순위가 높음)
## 5.4 비트연산자: & | ^ (연산자 우선순위가 높음)

In [131]:
print((10>3)&(10>5)) #논리 연산자 True/False

True

In [132]:
print(12&1) # 비트연산 12: 1100
            #          1: 0001
print(12|1)

0
13

## 5.5 비교연산자: > >= < <= == !=

In [136]:
'아'<'하' #사전식

True

In [135]:
'*' < '1' < 'A' < 'a' # 특수문자<숫자<대문자<소문자

True

In [138]:
score=85
80<=score<90<100

True

# 6절 문자열 다루기
    - 문자열 슬라이싱: 문자변수[from:to:step]
    - len(문자열): 문자 갯수
    - .upper(): 대문자로
    - .lower(): 소문자로
    - .title(): 각 단어의 앞글자만 대문자로
    - .capitalize(): 첫문자만 대문자로, 그 외는 소문자
    - count('찾을문자열'): 찾을 문자열이 몇개들어있는지 갯수 반환
    - find('찾을문자열'): 찾을 문자열을 왼쪽부터 시작하여 몇번째 인덱스에 있는지 index 반환
    - rfind('찾을문자열'): 찾을 문자열을 오른쪽부터 시작하여 몇번째 인덱스에 있는지 index 반환
                            =>찾을 문자열이 없는 경우 -1 반환
    - startswith('특정문자열'): 특정 문자열로 시작하는지 여부 T/F 반환
    - endswith('특정문자열'): 특정 문자열로 끝나는지 여부 T/F 반환
    - .strip(): 좌우 공백 제거 (lstrip(), rstrip(): l/r 공백만 제거)
    - isdigit(): 문자열이 숫자문자열인지 여부 T/F 반환
    - isupper()/islower(): 문자열이 대문자/소문자인지 여부 T/F 반환
    - replace(oldStr,newStr) oldStr을 newStr로 변경
    - split(): space 단위로 분리하여 list로 반환

In [142]:
# 문자열을 다룰 수 이쓴ㄴ 함수 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [143]:
temp='Python is easy. Python is smart.'
#     01234567890123456789012345678901
temp.upper(), len(temp)

('PYTHON IS EASY. PYTHON IS SMART.', 32)

In [154]:
print("첫번째 글자:{},마지막글자:{}".format(temp[0],temp[-1]))
print('upper:',temp.upper())
print('첫번째만 대문자',temp.capitalize())
print('title()',temp.title())      
print('count()',temp.count('Python'))
print('find()',temp.find('Python'))
print('rfind()',temp.find('Python'))
print("replace(Python,' '):",temp.replace('Python',' '))
print("startswith():",temp.startswith('Py'))

첫번째 글자:P,마지막글자:.
upper: PYTHON IS EASY. PYTHON IS SMART.
첫번째만 대문자 Python is easy. python is smart.
title() Python Is Easy. Python Is Smart.
count() 2
find() 0
rfind() 0
replace(Python,' '):   is easy.   is smart.
startswith(): True

In [159]:
temp="    Python         "
print("temp: [{}]".format(temp))
print("strip: [{}]".format(temp.strip()))
print("lstrip: [{}]".format(temp.lstrip()))
print("rstrip: [{}]".format(temp.rstrip()))

temp: [    Python         ]
strip: [Python]
lstrip: [Python         ]
rstrip: [    Python]

In [160]:
temp='Python is easy. Python is smart.'
print('space 단위로 분리 list로 반환:',temp.split())

space 단위로 분리 list로 반환: ['Python', 'is', 'easy.', 'Python', 'is', 'smart.']

In [166]:
temp="2024-05-20"
temp_list=temp.split('-') # '-' 단위로 분리 
temp_join='~'.join(temp_list) # 리스트 요소들을 '~'를 이용하여 결합
print("년월일 분리:",temp_list)
print("연결된 temp:",temp_join)

년월일 분리: ['2024', '05', '20']
연결된 temp: 2024~05~20

# 7절. 날짜 다루기
## 7.1 날짜

In [167]:
from datetime import date # datetime 중 date만 가져오기
someday=date(2024,5,30)
someday

datetime.date(2024, 5, 30)

In [171]:
print("{}".format(someday))
print("{:%Y년 %m월 %d일 %H시 %M분}".format(someday))

2024-05-30
2024년 05월 30일 00시 00분

In [176]:
from datetime import datetime
now=datetime.today()
print("{:%Y년 %m월 %d일 %H시 %M분}".format(now))

2024년 05월 30일 12시 48분

## 8.연습문제

In [179]:
#1
name=input('이름 :')
age=input('나이 :')
print('[{}님의 나이는 {}살입니다]'.format(name,age))

이름 : 홍길동
나이 : 23

[홍길동님의 나이는 23살입니다]

In [194]:
#2
n1=int(input('첫번째 정수:'))
n2=int(input('두번째 정수:'))

try:
    print('덧셈:{} 뺄셈:{} 곱셈:{} 나눗셈:{} 몫:{} 나머지:{}'.format(n1+n2,n1-n2,n1*n2,n1/n2,n1//n2,n1%n2))
except:#예외처리
    print('두번째 정수에 0을 넣으면 안됨')

첫번째 정수: 3
두번째 정수: 0

두번째 정수에 0을 넣으면 안됨

In [193]:
#3
str_='Hello World'
ans=str_.split()
print(ans[1], ans[0])

World Hello

In [ ]:
#4'abcdef'=>'bcdefa'(문자슬라이싱이용)

In [196]:
#5
x='abcdef'
print(x[::-1])

fedcba

In [ ]:
#6
C=int(intput('섭씨온도:'))
F=(C*1.8)+32