<font color="skyblue" size="7"><b>ch05 함수<b/></font>
- 반복해서 사용할 코드를 묶어서 구현해 놓은 것
- 같은 이름의 함수는 덮어씀(오버로딩 불가)
- 함수 정의(구현)
  
```python
def 함수명([arg1,arg2,...]):
    명령어1
    명령어2
    ...
    return #유뮤 상관 없음
```

# 1절 함수의 정의 및 사용(호출)
## 1.1 함수정의

In [35]:
def my_hello(x,msg): #함수 정의
    for i in range(x):
        print(i,msg)

In [36]:
my_hello(5,'Hello World')

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [37]:
type(my_hello)

function

In [38]:
my_hello=10
type(my_hello)

int

In [39]:
def my_add(num1,num2,num3=0):# 기본값을 갖는 인수는 순서 인수 뒤에
    return num1+num2+num3
print(my_add(1,2,3))
print(my_add(1,2))

6
3

## 1.2 docstring
- 함수 도움말 shift+tab로 볼 수 있음

In [40]:
def fibonacci(n):
    """
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    n3=n1+n2
    ex. n=10: 0, 1, 1, 2, 3, 5, 8
    """
    a,b=0,1
    while a<n:
        print(a,end=', ')
        a,b=b,a+b
    print()

In [41]:
fibonacci(100)

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,

In [42]:
fibonacci #__main__: main영역에서 작동하는 함수

In [43]:
__name__

'__main__'

In [44]:
if __name__=='__main__':
    fibonacci(1000)

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987,

In [45]:
import fibonacci as fibo#fibonacci.py이 해석되서 memory에 로드됨

In [46]:
fibo.fibonacci(1000)

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987,

## 1.3 지역변수(local var)와 전역변수(Global var)

In [47]:
global_var=100 #전역변수
def func1():
    print(global_var)
func1()

100

In [48]:
def func2():
    local_var=10 # 함수 안의 지역변수
    print(local_var)
func2()
local_var #함수 밖에서 호출 불가

10

NameError: name 'local_var' is not defined

## 1.4 Lexical 특성

In [49]:
g_var=100 #전역변수
def func3():
    print(g_var)# 코드가 위에서부터 시행되지않아서 혼란 야기
    g_var=200 #지역변수
    print(g_var)

func3()    
print(g_var)

UnboundLocalError: cannot access local variable 'g_var' where it is not associated with a value

## 1.5 전역변수 수정

In [50]:
g_var=100 #전역변수
def func3():
    global g_var
    print(g_var)
    g_var=200 #지역변수
    print(g_var)

func3()    
print(g_var)

100
200
200

## 1.6 값에 의한 호출(call by value)
- 함수에 인수로 전달되는 변수가 스칼라변수(숫자, 문자, 논리)일 경우

In [52]:
foo='ab'#스칼라변수(문자=문자열
id(foo)

2841199266992

In [53]:
def func1(f):
    print("Before : {}의 주소는 {}".format(f,id(f)))
    f*=3 #매개변수는 지역변수
    print("After : {}의 주소는 {}".format(f,id(f)))

func1(foo)
print("함수 호출 후 foo:{}의 주소는{}".format(foo,id(foo)))

Before : ab의 주소는 2841199266992
After : ababab의 주소는 2841255663408
함수 호출 후 foo:ab의 주소는2841199266992

## 1.7 참조에 의한 호출(call by reference)
- 함수에 전달되는 인수가 리스트, 딕셔너리, 셋인 경우

In [55]:
L=[1,2,3]
print("L의 내용은 {}, 주소는 {}". format(L,id(L)))

L의 내용은 [1, 2, 3], 주소는 2841271263296

In [56]:
def func2(f):
    print("함수 내 before: L의 내용은 {}, 주소는 {}". format(L,id(L)))
    f.append(4)
    print("함수 내 after: L의 내용은 {}, 주소는 {}". format(L,id(L)))

func2(L)
print("L의 내용은 {}, 주소는 {}". format(L,id(L)))

함수 내 before: L의 내용은 [1, 2, 3], 주소는 2841271263296
함수 내 after: L의 내용은 [1, 2, 3, 4], 주소는 2841271263296
L의 내용은 [1, 2, 3, 4], 주소는 2841271263296

# 2절 함수의 실행 결과를 반환하는 return
- 여러개의 값을 반환할 수 있다(하나의 tuple로 반환)

In [57]:
#여러값을 return
def swap(a,b):
    return b,a

In [62]:
x,y=5,10
print('함수 실행 전 x={}, y={}'.format(x,y))
x,y=swap(x,y)
print('함수 실행 후 x={}, y={}'.format(x,y))

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

# 3절 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [63]:
def make_url(ip,port=80):
    # 순서인수, 기본값을 갖는 인수 순으로 
    return "http//{}:{}".format(ip,port)

In [66]:
print(make_url("localhost"))
print(make_url("localhost",8090))
print(make_url(port=8090,ip="localhost"))

http//localhost:80
http//localhost:8090
http//localhost:8090

## 3.2 tuple 매개변수를 이용한 가변인수(인수 갯수가 가변) 설정

In [68]:
print('Hello','World') # 인수의 갯수가 가변 = 가변인수

Hello World

In [91]:
#args 앞에 *: args가 튜플로 전달
def add1(args): # * 사용 안할 시 tuple 형태로 입력받아야함
    print("전달받은 args:",args)
    print(type(args))
    sum=0
    for num in args:
        sum+=num;
    return sum

def add2(*args): # * 사용시 인수 형태로 입력 받을 수 있음
    print("전달받은 args:",args)
    print(type(args))
    sum=0
    for num in args:
        sum+=num;
    return sum

In [92]:
print(add1((1,2,3,4)))
print(add2(1,2,3,4))

전달받은 args: (1, 2, 3, 4)
<class 'tuple'>
10
전달받은 args: (1, 2, 3, 4)
<class 'tuple'>
10

In [100]:
def concat(*args, sep):
    return sep.join(args)

In [97]:
concat('C','python','oracle','~')# 어디까지 arg인지 몰라서 에러 발생

'C~python~oracle'

In [102]:
# 해결책1
concat('C','python','oracle',sep='~')

# 해결책2: args를 뒤에쪽으로!
def concat(sep,*args):
    return sep.join(args)
concat('~','C','python','oracle')

#해결책3: default값을 가질 경우 뒤에 배치해야함
#순서인수>튜플인수>키워드인수(변수명을 기재해야되는 인수)
def concat(*args, sep='/'):
    return sep.join(args)
concat('C','python','oracle',sep='~')

'C~python~oracle'

## 3.3 dictionary를 이용한 매개변수

In [107]:
def func1(args): # args가 딕셔너리로 전달
    print(args)
    print(type(args))

def func2(**args): # args가 딕셔너리로 전달
    print(args)
    print(type(args))

In [108]:
dic={"name":"홍길동", 'age':20}
func1(dic)
func2(name='홍길동',age=20)

{'name': '홍길동', 'age': 20}
<class 'dict'>
{'name': '홍길동', 'age': 20}
<class 'dict'>

In [109]:
def func(**args): # args가 딕셔너리로 전달
    for key,value in args.items():
        print("{} : {}".format(key,value))

In [110]:
func(gameName='서바이벌C', year=2024,price=33000)

gameName : 서바이벌C
year : 2024
price : 33000

## 3.4 함수 정의시 매개변수의 순서
- 순서인수>튜플인수(*)>키워드인수(매개변수 이름을 명시)> 딕셔너리인수(**)

In [112]:
def func(a,b,c,*d,e=10,**f):
    print('a=',a)
    print('b=',b)
    print('c=',c)
    print('d=',d)
    print('e=',e)
    print('f=',f)

In [113]:
func(10,20,30, 1,2,3,4,5, e=100, height=180,name="홍길동",address='서울시')

a= 10
b= 20
c= 30
d= (1, 2, 3, 4, 5)
e= 100
f= {'height': 180, 'name': '홍길동', 'address': '서울시'}

## 3.5 인수의 언패킹

### *tuple 변수 언패킹

In [123]:
def add(*args): # * 사용시 인수 형태로 입력 받을 수 있음
    sum=0
    for num in args:
        sum+=num;
    return sum
    
def func(**args): # args가 딕셔너리로 전달
    for key,value in args.items():
        print("{} : {}".format(key,value))

In [124]:
add(1,2,3)
data=(1,2,3)
add(*data) #tuple 형식을 언패킹

6

### *dictionary 변수 언패킹

In [125]:
dic={'height': 180, 'name': '홍길동', 'address': '서울시'}
func(**dic)

height : 180
name : 홍길동
address : 서울시

# 4절 람다식
- `lambda 변수: return값`
- 람다식은 작은 익명함수를 의미함
- 실행할 문장을 한문장만 작성할 수 있음
- 리스트 컴프리헨션과 같이 참조해서 학습 추천
- 함수의 매개변수로 사용하기 위함
- ex. map(), filter()에서 사용할 예정

In [126]:
#일반함수
def add(a,b):
    return a+b
add(3,5)

8

In [127]:
type(add)

function

In [ ]:
#람다식
add=lambda a,b: a+b

In [128]:
add(5,3)

8

In [129]:
type(add)

function

### *매개변수로 람다식 이용

In [131]:
f=lambda x: x**2
f(3)

9

In [140]:
def map_template(func,L=[]):
    result=[]
    for data in L:
        result.append(func(data))
    return result #func(L)

In [141]:
list_data=[1,2,3,4,5]
map_template(lambda x:x**2,list_data)

[1, 4, 9, 16, 25]

In [142]:
list(map(lambda x:x*2,list_data))

[2, 4, 6, 8, 10]

In [144]:
#list comprehension
[x*2 for x in list_data]

[2, 4, 6, 8, 10]

In [145]:
def filter_template(func, L=[]):
    result=[]
    for data in L:
        if func(data):
            result.append(data)
    return result

In [147]:
filter_template(lambda x:x%2==0,list_data)

[2, 4]

In [150]:
list(filter(lambda x:x%2==0,list_data))

[2, 4]

In [151]:
#list comprehension 이용
[x for x in list_data if x%2==0]

[2, 4]

# 5절 파이썬 내장함수
- point처럼 import하지 않고 즉시 사용 가능한 함수

In [152]:
#연습문제

In [156]:
#1 
def get_max_min(data_list):
    data_list.sort()
    return data_list[0],data_list[len(data_list)-1]
list=[5,7,2,1,9,3]
print(get_max_min(list))

(1, 9)

In [ ]:
#로또 생성 함수 make_lotto
import random
def make_loto():
#lotto={random.randint(1,45),}
    lotto=set()
    while(len(lotto)<6):
        lotto.add(random.randint(1,45))
    lotto=list(lotto)
    #lotto=[num for num in set]
    lotto.sort()
    return lotto

print(make_loto())

In [167]:
#3 3,6,9게임
def game_369(*list):
    result=[]
    for val in list:
        result.append(val)
        cnt=0;
        while(val!=0):
            if((val%10%3==0)&(val%10!=0)):
                cnt+=1
            val-=val%10
            val/=10
        if(cnt>0):
            result.pop()
            result.append('짝'*cnt)
    return result
    
#print(game_369([1,2,3,4,5,6,7,8,9,13,20,33]))
print(game_369(1,2,3,4,5,6,7,8,9,13,20,33))

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', '짝', 20, '짝짝']

In [174]:
def game_369(l):
    result=[]
    for val in l:
        val_str=str(val)
        valstr_list=list(val_str)
        clap=''
        for s in datastr_list:
            if(int(s)!=0)&(int(s)%3==0):#3의 배수 판정
                clap+='짝'
        if(clap):
            result.append(clap)
        else:
            result.append(val)
    return result
    
print(game_369([1,2,3,4,5,6,7,8,9,13,20,33]))

TypeError: 'list' object is not callable