<font color="79e5cb" size="6"><b>ch09 파일 입출력<b/></font>

# 1절 파일에 데이터를 저장하고 불러오기

In [8]:
#양방향 stream 불가, 읽기전용 or쓰기전용
#w: 있는 파일은 기존의 파일에 덮어쓰고 없는 파일은 생성(쓰기전용)
#a: append있는 파일은 추가/ 없는 파일은 생성(쓰기전용)
#r: 읽기 전용

f=open('data/ch09.txt','a')#encoding 기본값: cp949, 한글 없을 시:아스키코드
print(f.writable())

True

In [9]:
f.write('hello\nworld\nhello\npython\n반갑습니다\n')#한글은 cp949
f.write('여러번 write가능\n')
f.close()

In [11]:
with open('data/ch09.txt','r') as f:#f:with절 안의 지역변수
    data=f.readlines()
    print(data)

['hello\n', 'world\n', 'hello\n', 'python\n', '반갑습니다\n', '여러번 write가능\n', 'hello\n', 'world\n', 'hello\n', 'python\n', '반갑습니다\n', '여러번 write가능\n']

In [13]:
with open('data/ch09.txt','w')as f:
    print('python is easy 꺄\n',file=f)#파일에 출력

In [15]:
# utf-8로 인코딩 csv파일을 read
with open('data/ch09_member1.csv','r',encoding='utf-8') as f:
    data=f.readlines()
    for row in data:
        print(row,end='')

홍길동,20,hong@hong.com,서울시 강동구
박길서,33,park@hong.com,서울시 강서구
박길남,23,park@hong.com,서울시 강남구
김길북,20,park@hong.com,서울시 강북구
신길서,40,park@hong.com,서울시 강서구
신길동,28,park@hong.com,서울시 강서동

In [26]:
import pandas as pd
member1=pd.read_csv('data/ch09_member1.csv',header=None) #모드 선택 필요없음
member1.columns=['name','age','email','address']
member1

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23  park@hong.com  서울시 강남구
3  김길북   20  park@hong.com  서울시 강북구
4  신길서   40  park@hong.com  서울시 강서구
5  신길동   28  park@hong.com  서울시 강서동

In [27]:
type(member1)

pandas.core.frame.DataFrame

In [28]:
member2=pd.read_csv('data/ch09_member2.csv',nrows=3)#nrows만큼만 열기
member2

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23  park@hong.com  서울시 강남구

In [29]:
member=pd.concat([member1,member2])#concat()두 자료 합하기(행병합/열병합)
member

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23  park@hong.com  서울시 강남구
3  김길북   20  park@hong.com  서울시 강북구
4  신길서   40  park@hong.com  서울시 강서구
5  신길동   28  park@hong.com  서울시 강서동
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23  park@hong.com  서울시 강남구

In [30]:
member.to_csv('data/member.csv',index=False)#index 제외하고 csv파일로 저장