<font color="violet" size="6"><b>ch10 Pandas(데이터프레임,시리즈)<b/></font>
- pip install pandas (cmd창에서 실행)

# 1절 판다스 패키지
- 데이터 분석을 위한 반드시 알아야 할 패키지
- numpy를 기반으로 하며, 다른 라이브러리와 잘 통합되어 설계
- 1차원 구조를 갖는 시리즈, 2차원 구조를 갖는 데이터 프레임을 제공
- 결측치처리, 크기변경(열삭제/추가, 행삭제/추가), 데이터정렬, 데이터분할/병합, 통계처리, 부분데이터 추출, 파일입출력, 레이블링, 시각화용이, ...)

In [ ]:
import numpy as np
np.pi

In [ ]:
import pandas as pd
pd.__version__

In [ ]:
data=pd.read_json('data/ch10_member1.json',encoding="cp949")#디폴트가 UTF-8
print(type(data))
data

In [ ]:
data=pd.read_json('data/ch10_member2.json')#UTF-8로 read, encoding 다르면 에러
print(type(data))
data

In [ ]:
member1=pd.read_csv('data/ch09_member1.csv',header=None, names=['name','age','email','address'],encoding='utf-8')
member1

# 2절 데이터 프레임 만들기
## 2.1 딕셔너리를 이용해 데이터프레임 만들기

In [12]:
d={'name':['홍길동','신길동'],'age':[20,30]}
df=pd.DataFrame(data=d)
df

  name  age
0  홍길동   20
1  신길동   30

## 2.2 리스트를 이용해 데이터프레임 만들기

In [13]:
d=[{'name':'홍길동','age':20},{'name':'신길동','age':30}]

In [14]:
df=pd.DataFrame(data=d)

## 2.3 read_csv()

In [ ]:
df= pd.read_csv('data/전국 평균 평당 분양가격(2013년 9월부터 2015년 8월까지).csv',encoding='cp949')
df.shape #행, 열
df

In [ ]:
df.head(2)

In [ ]:
pd.options.display.max_columns # 최대 데이터 프레임의 표현될 수 있는 열 수

In [ ]:
pd.options.display.max_colums

## 2.4 sklearn, statsmodels, seaborn 등의 라이브러리에서 데이터프레임 불러오기

In [ ]:
import statsmodels.api as sm
iris=sm.datasets.get_rdataset("iris",package="datasets").data
iris.tail() #끝 5행

# 3절 이름(열,행) 지정하기

In [ ]:
member_df=pd.read_csv('data/ch09_member1.csv',header=None)
member_df

In [ ]:
#열이름 지정하기
member_df.columns=['name','age','email','address']
member_df

In [ ]:
member_df=pd.concat([member_df,member_df]) # 행 이름이 연속되지 않음
member_df

In [ ]:
member_df.index

In [ ]:
member_df.index=range(len(member_df))
member_df

In [ ]:
# name열을 행(index)이름으로
#member_df=member_df.set_index("name")#inplace=false적용된 내용 return
member_df.set_index("name",inplace=True)#inplace=true 데이터프레임에 적용
member_df

In [ ]:
#행 이름을 컬럼에 편입시키기
#member_df=member_df.reset_index()#reset 적용한 것을 return
member_df.reset_index(inplace=True) #reset을 member_df에 적용
member_df

In [ ]:
name=member_df['name'] #1차원 데이터 시리즈
print(type(name))
name

member=member_df.loc[0] # 0번 인덱스 행 =>시리즈(1차원)
print(type(member))
member

In [ ]:
member_df.info()

In [ ]:
#타입 바꾸기
member_df['age']=member_df['age'].astype('float64')#데이터 프레임의 열의 타입을 변경
member_df.info()

# 4절 부분 데이터 조회
- 특정열, 특정행, 특정행의 특정열, 특정조건의 행 모든열, 특정조건의 행의 특정열

In [ ]:
member=pd.read_csv('data/ch09_member2.csv')
member

## 4.1 단일열 조회

In [ ]:
member['name'] # 시리즈
member['name'].to_frame() #시리즈를 데이터프레임으로

## 4.2 loc[]을 이용한 이름(열,행)으로 조회
- 단일행, 여러열, 행과 열 동시에 접근
- member.loc[행,열] #행/열 슬라이싱 가능(0~4행:loc[[0:5],열])
-

In [ ]:
# 단일행
member.loc[0] #시리즈

In [ ]:
# 여러행
member.loc[0:5] #0~4행

In [ ]:
# 여러열
member.loc['name']
#name열부터 email열까지 ==age열포함
member.loc[:'name':'email']#from:to:step

In [ ]:
#여러열(name열과 email 열)
member.loc[:,['name','email']]

In [ ]:
#1행부터 4행까지 name과 email
member.loc[1:4,['name','email']]

In [ ]:
#1행과 4행, name,email,address
member.loc[[1,4],['name','email','address']]

In [ ]:
#1행~4행까지 name~email열 출력
member.loc[1:4,'name':'address;]]

## 4.3 iloc[]을 이용한 숫자(index)로 조회
- 몇번째 행부터 몇번째 행 앞까지, 몇번째 열부터 몇번째 열 앞까지;
- 음수가능

In [ ]:
member.iloc[0:4] #slicing from:to:step

In [ ]:
member.iloc[0,0:3] #0열부터 3열 앞까지

In [ ]:
#맨 오른쪽 열을 제외하고 입력
member.illoc[:,:-1]

In [ ]:
#짝수번째 행의 모든 열 출력
member.illoc[::2,0:2]

In [ ]:
#member의 행순서를 역순 출력(맨 마지막 열을 제외하고)
member.illoc[::-1,:-1]

## 4.4 조건으로 조회하기